.ui.top.fixed.menu {
  background-image: radial-gradient(
      circle at center center,
      rgba(217, 217, 217, 0.05) 0%,
      rgba(217, 217, 217, 0.05) 15%,
      rgba(197, 197, 197, 0.05) 15%,
      rgba(197, 197, 197, 0.05) 34%,
      rgba(178, 178, 178, 0.05) 34%,
      rgba(178, 178, 178, 0.05) 51%,
      rgba(237, 237, 237, 0.05) 51%,
      rgba(237, 237, 237, 0.05) 75%,
      rgba(138, 138, 138, 0.05) 75%,
      rgba(138, 138, 138, 0.05) 89%,
      rgba(158, 158, 158, 0.05) 89%,
      rgba(158, 158, 158, 0.05) 100%
    ),
    radial-gradient(
      circle at center center,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 6%,
      rgb(255, 255, 255) 6%,
      rgb(255, 255, 255) 12%,
      rgb(255, 255, 255) 12%,
      rgb(255, 255, 255) 31%,
      rgb(255, 255, 255) 31%,
      rgb(255, 255, 255) 92%,
      rgb(255, 255, 255) 92%,
      rgb(255, 255, 255) 97%,
      rgb(255, 255, 255) 97%,
      rgb(255, 255, 255) 100%
    );
  background-size: 42px 42px;
}

body {
  background-color: rgb(245, 245, 245) !important;
}

.gradient-background-2 {
  background-image: radial-gradient(
      circle at 52% 94%,
      rgba(169, 169, 169, 0.04) 0%,
      rgba(169, 169, 169, 0.04) 50%,
      rgba(199, 199, 199, 0.04) 50%,
      rgba(199, 199, 199, 0.04) 100%
    ),
    radial-gradient(
      circle at 96% 98%,
      rgba(61, 61, 61, 0.04) 0%,
      rgba(61, 61, 61, 0.04) 50%,
      rgba(201, 201, 201, 0.04) 50%,
      rgba(201, 201, 201, 0.04) 100%
    ),
    radial-gradient(
      circle at 93% 97%,
      rgba(227, 227, 227, 0.04) 0%,
      rgba(227, 227, 227, 0.04) 50%,
      rgba(145, 145, 145, 0.04) 50%,
      rgba(145, 145, 145, 0.04) 100%
    ),
    radial-gradient(
      circle at 79% 52%,
      rgba(245, 245, 245, 0.04) 0%,
      rgba(245, 245, 245, 0.04) 50%,
      rgba(86, 86, 86, 0.04) 50%,
      rgba(86, 86, 86, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(197, 210, 9), rgb(118, 115, 25)) !important;
}

.gradient-background-1 {
  background-image: radial-gradient(
      circle at 52% 94%,
      rgba(169, 169, 169, 0.04) 0%,
      rgba(169, 169, 169, 0.04) 50%,
      rgba(199, 199, 199, 0.04) 50%,
      rgba(199, 199, 199, 0.04) 100%
    ),
    radial-gradient(
      circle at 96% 98%,
      rgba(61, 61, 61, 0.04) 0%,
      rgba(61, 61, 61, 0.04) 50%,
      rgba(201, 201, 201, 0.04) 50%,
      rgba(201, 201, 201, 0.04) 100%
    ),
    radial-gradient(
      circle at 93% 97%,
      rgba(227, 227, 227, 0.04) 0%,
      rgba(227, 227, 227, 0.04) 50%,
      rgba(145, 145, 145, 0.04) 50%,
      rgba(145, 145, 145, 0.04) 100%
    ),
    radial-gradient(
      circle at 79% 52%,
      rgba(245, 245, 245, 0.04) 0%,
      rgba(245, 245, 245, 0.04) 50%,
      rgba(86, 86, 86, 0.04) 50%,
      rgba(86, 86, 86, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(210, 9, 198), rgb(25, 38, 118)) !important;
}

.button-prediction {
  background-image: repeating-linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.03) 0px,
      rgba(0, 0, 0, 0.03) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(45deg, rgb(18, 105, 233), rgb(166, 255, 155)) !important;
}
.button-prediction:hover {
  opacity: 0.75;
}

.ui.dropdown > i {
  color: teal;
  font-size: 21px;
}

.fixed-center {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

.float.right {
  float: right;
}

#sideBar {
  height: calc(100vh - 4.6rem);
  margin-top: 4.6rem;
}

.clearFix {
  overflow: auto;
}
.clearFix.x-hidden {
  overflow-x: hidden;
}

.selection-team:hover {
  opacity: 0.5;
}

.match-finished {
  opacity: 0.65;
}

.text-muted {
  color: teal;
}

.text-small {
  font-size: 10px;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-blue {
  color: #2196f3;
}

.text-red {
  color: #f44336;
}

.text-green {
  color: #4caf50;
}

.text-align-right {
  text-align: right;
}

.width-100p {
  width: 100%;
}
.width-35p {
  width: 35%;
}

.width-20p {
  width: 20p;
}

.height-41 {
  height: 41px;
}

.height-70 {
  height: 70px;
}

.flex-even {
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-recent {
  opacity: 0.7;
}

.match-recent:hover {
  opacity: 1;
  cursor: pointer;
  background-color: #f1f8e9 !important;
}

.item-notification:hover {
  background-color: #e0f2f1;
  opacity: 0.8;

}
.item-notification {
  cursor: pointer;
  border-bottom: 1px solid #e0e0e0;
  padding: 16px;
}
